/*header style */
    .header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .nav__list {
    display: flex;
  }
  
  .nav__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }
  
  .nav__item {
    margin-right: 33px;
  }
  
  .nav__item:last-child {
    margin-right: 0;
  }
  
  .registr__btn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6F1EAA;
    background-color: inherit;
    border: none;
  }
  
  .try {
    background-color: #6F1EAA;
    color: #FFFFFF;
    border-radius: 19px;
    padding: 10px 42px;
    margin-left: 16px;  
  }
  /*pharmacy style */

  .pharmacy {
    background: url(/image/bottom.svg) no-repeat #FEF7E5;
    padding: 102px 244px 384px 384px;
  }
  
  .pharmacy__title {
    margin: 0;
    padding-bottom: 32px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #000000;
  }
  .pharmacy__text {
    margin: 0;
    padding-bottom: 32px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
  }
  
  .pharmacy__btn__block {
    display: flex;
    justify-content: center;
  }
  
  .pharmacy__btn {
    padding: 14px 40px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #6F1EAA;
    border: none;
    border-radius: 24px;
  }

  /*dalmatians style */

  .dalmatian {
    display: flex;
  }
  
  .left__side {
    padding: 58px 0 0 150px;
  }
  
  .dalmatian__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #000000;
  }
  
  .right__side {
    padding: 58px 150px 0 0 ;
  }
  
  .right__list {
    padding: 0 0 102px 104px;
  }
  
  .right__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #6F1EAA;
  }
  
  .right__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  
  .right__sub__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #6F1EAA;
  }
  
  .right__subject {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;  
  }
  
  .right__headline {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;  
  }

  /*works style */
  
  .works__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #000000;   
  } 
  
  .works__card__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.68px;
    color: #6F1EAA;   
  } 
  
  .works__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    text-align: center;
    color: #000000;
  }
  
  .works__sub__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.68px;
    color: #6F1EAA 
  }
  
  .works__subject {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    text-align: center;
    color: #000000
  }
  
  .works_text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    text-align: center;
    color: #000000 
  }
  
  .works__btn {
    background-color:#6F1EAA;
    color: #FFFFFF;
  }
  
  .oragne__text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.96px;
    color: #F7A500  
  }

  /*taksa style */
  
  .taksa {
    display: flex;
  }

  .oragne__text {
    padding-top: 150px;
  }


  .taksa__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    color: #000000; 
  }
  
  .taksa__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    color: #000000; 
    padding-top: 40px;
    padding-bottom: 36px;
  }
  
  .taksa__btn {
    background-color:#6F1EAA;
    color: #FFFFFF;
  }

  /*pets style*/
  
  .pets__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 43px;
    line-height: 53px;
    text-align: center;
    color: #000000; 
  }
  
  .pets__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin-top: 24px; 
  }
   
  /*pets cards style*/

  .descr__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #000000; 
  }
  
  .descr__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px; 
    color: #000000; 
  } 
  
  .descr__sub__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #000000;
  }
  
  .descr__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #000000; 
  }

  /*wild style*/
  
  .wild__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #000000; 
  }
  
  .wild__text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    line-height: 22.72px;
    text-align: center;
    color: #000000;
  }
  
  /*wild card style*/

  .orange__desk {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.72px;
    color: #F7A500;
  }
  
  .wild__sub__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.68px;
    color: #000000; 
  }
  
  .sub__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    line-height: 22.72px; 
    color: #000000;
  }
  
  .card__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #6F1EAA; 
  }
  
  .orange_text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.72px;
    color: #F7A500;
  }
  
  .wild__btn {
    background-color:#6F1EAA;
    color: #FFFFFF; 
  }

  /*advertising style */
  
  .advertising {
    background-color: #6F1EAA;
  }
  
  /*footer style */

  .footer {
    background-color: #48156D;
  }
  /*quick style */

  .quick__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #C282F0; 
  }
  
  .quick__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px; 
    color: #FFFFFF;
  }
  
  /*contact style*/

  .contact__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #C282F0;  
  }
  
  .contact__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px; 
    color: #FFFFFF; 
  }
  
  /*address style*/

  .address__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #C282F0;  
  }
  
  .addres__map {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px; 
    color: #FFFFFF;
  }
  
  /*social style*/

  .social__block {
    background-color: #48156D;
  }
  
  .social__ico {
    color: #000000;
  }

  /*policy style*/
  
  .policy__block {
  background-color: #48156D;
  }
  
  .policy__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px; 
    color: #FFFFFF; 
  }